{% extends '_terms/base-terms.html' %}

{% block title %}Policy Privacy{% endblock %}

{% block content %}
<div class="page">

    <!-- Page breadcrumb -->
    {% from '_static/_breadcrumb.html' import render_breadcrumb %}
    {{ render_breadcrumb('Human Digital Twin', 'Policy Privacy') }}

    <!-- Input section for scenario analysis -->
    <div class="page-body">
        <div class="container-xl pt-2">
          {% include '_terms/policy-privacy-text.html' %}
        </div>
    </div>
</div>

{% endblock %}