.irs--flat .irs-handle {
    border-color: #8aa2c0;
}

.irs--flat .irs-handle > i:first-child {
    background-color: #8aa2c0; /* Amber */
}

.irs--flat .irs-single, .irs--flat .irs-tooltip {
    background-color: #8aa2c0;
    border-color: #8aa2c0;
}

.irs--flat .irs-single, .irs--flat .irs-tooltip {
    color: #fff;
}

.irs--flat .irs-bar {
    top: 25px;
    height: 12px;
    background-color: #8aa2c0;
}

.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before {
    position: absolute;
    display: block;
    content: "";
    bottom: -6px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -3px;
    overflow: hidden;
    border: 3px solid transparent;
    border-top-color: white;
}