<!-- _navbar.html -->
{% macro nav_item(url, icon, title) %}
<li class="nav-item">
    <a class="nav-link" href="{{ url }}">
        <span class="nav-link-icon d-md-none d-lg-inline-block">
            <i class="fas fa-{{ icon }}"></i>
        </span>
        <span class="nav-link-title">
            {{ title }}
        </span>
    </a>
</li>
{% endmacro %}

<header class="navbar-expand-md" id="navbar">
    <div class="collapse navbar-collapse" id="navbar-menu">
        <div class="navbar">
            <div class="container-xl">
                <ul class="navbar-nav">
                    {{ nav_item('/index/', 'home', 'Home') }}
                    {{ nav_item('/air_pollution/', 'wind', 'Air Pollutants') }}
                    {{ nav_item('./form-elements.html', 'lungs', 'Health Recommendations') }}
                    {{ nav_item('./form-elements.html', 'person-running', 'Activity Analysis') }}
                    {{ nav_item('/scenario_analysis/', 'chart-simple', 'Scenario Analysis') }}
                </ul>
            </div>
        </div>
    </div>
</header>
