{% extends 'base-air-pollutant.html' %}

{% block title %}{{ pollutant | upper }}{% endblock %}

{% block content %}
<div class="page">

    <!-- Page breadcrumb -->
    {% from '_static/_breadcrumb.html' import render_breadcrumb %}
    {{ render_breadcrumb('Historical Data of Air Pollutants', 'Indoor ' ~ pollutant | upper) }}

    <!-- Page body -->
    <div class="page-body" id="chart">
        <div class="container-xl">
            {% include 'air-pollutant-chart.html' %}
        </div>
    </div>

</div>
{% endblock %}
