{% extends 'base-air-pollutant.html' %}

{% block title %}Indoor Air Pollutants{% endblock %}

{% block content %}
<div class="page">

    <!-- Page breadcrumb -->
    {% from '_static/_breadcrumb.html' import render_breadcrumb %}
    {{ render_breadcrumb('Human Digital Twin', 'Indoor Air Pollutants') }}

    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-cards">

                {% from 'air-pollutants-macro.html' import render_pollutant_card, render_jumbotron %}

                {{ render_jumbotron('Indoor Air Pollutants', 'Track your historical air pollutant data measured by hardware and wearable devices in your indoor environment.') }}

                {% for pollutant, data in pollutants_info.items() %}
                    {{ render_pollutant_card(data.pollutant_name, data.pollutant_desc, data.pollutant_href) }}
                {% endfor %}

            </div>
        </div>
    </div>

</div>
{% endblock %}
