<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %} {% endblock %} - Human Digital Twin | TwinAIR</title>

    <link href="{{ url_for('static', filename='css/tabler.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/twinair.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/fontawesome.all.min.css') }}" rel="stylesheet">

    {% block additional_css %}
    <link href="{{ url_for('static', filename='css/health-recommendations.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body>
    {% block body %}

        <div class="page">
            {% include '_static/_header.html' %}
            {% include '_static/_navbar.html' %}

            <div class="page-wrapper">
                {% block content %}
                {% endblock %}
            </div>

            {% include '_static/_footer.html' %}
        </div>

        <script src="{{ url_for('static', filename='js/demo-theme.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/demo.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/util-iaq-theme.js') }}"></script>
        <script src="{{ url_for('static', filename='js/health-recommendations-iaq.js') }}"></script>

    {% endblock %}
</body>
</html>
