<div class="row row-cards row-deck">
    <div class="col-md-12 col-lg-6">
        <div class="card hidden-at-start">
            <div class="card-stamp">
                <div class="card-stamp-icon bg-grey">
                    <img class="icon" src="{{ url_for('static', filename='icons/iaq-good.svg') }}"
                         alt="Mood Sick">
                </div>
            </div>
            <div class="card-body">
                <h3 class="text-grey card-title">CO<sub>2</sub> Levels</h3>
                <p>Waiting for update..</p>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-lg-6">
        <div class="card hidden-at-start">
            <div class="card-stamp">
                <div class="card-stamp-icon bg-grey">
                    <img class="icon" src="{{ url_for('static', filename='icons/iaq-good.svg') }}"
                         alt="Mood Good">
                </div>
            </div>
            <div class="card-body">
                <h3 class="text-grey card-title">PM<sub>2.5</sub> Levels</h3>
                <p>Waiting for update.</p>
            </div>
        </div>
    </div>
</div>