{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block additional_css %}
    <!-- Any additional CSS specific to the index page can go here -->
{% endblock %}

{% block content %}
<div class="page">

    <!-- Page header -->
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <!-- Page pre-title -->
                    <div class="page-pretitle">
                        Human Digital Twin
                    </div>
                    <h2 class="page-title">
                        Dashboard
                    </h2>
                </div>
                <div class="col-auto ms-auto">
                    <!-- Update time -->
                    <div class="page-update-time">
                        Last update: <span id="updateTime"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Page body -->
    <div class="page-body">
        <div class="container-xl">
            {% include 'index-card-health-recommendations.html' %}
        </div>
    </div>

    {% import 'index-macros.html' as macros %}

    {{ macros.jumbotron('Indoor Air Quality', 'Monitor IAQ conditions in your immediate surroundings.' ) }}

    <div class="page-body">
      <div class="container-xl">
          {% include 'index-pred-co2.html' %}
      </div>

      {{ macros.chart('index-chart-co2',  'index-chart-co2-status') }}

      <div class="container-xl">
          {% include 'index-pred-pm25.html' %}
      </div>

      {{ macros.chart('index-chart-pm25', 'index-chart-pm25-status') }}

      {{ macros.chart('index-chart-tvoc', 'index-chart-tvoc-status') }}
    </div>

</div>

{% endblock %}
