<!-- index-dropdown-date.html -->
<!--<div class="ms-auto">-->
<!--    <div class="dropdown" id="{{ dropdown_id | default('') }}">-->
<!--        <a class="dropdown-toggle text-muted" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--            Last 7 days-->
<!--        </a>-->
<!--        <div class="dropdown-menu dropdown-menu-end">-->
<!--            <a class="dropdown-item" href="#" data-option="24-hours">Last 24-hours</a>-->
<!--            <a class="dropdown-item active" href="#" data-option="7-days">Last 7-days</a>-->
<!--            <a class="dropdown-item" href="#" data-option="14-days">Last 14-days</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
