<div class="row row-cards row-deck">
    <div class="col-md-6 col-lg-6">
        <div class="card hidden-at-start">
            <div class="card-stamp">
                <div class="card-stamp-icon bg-red">
                    <img class="icon" src="{{ url_for('static', filename='icons/mood-sick-white.svg') }}"
                         alt="Mood Sick">
                </div>
            </div>
            <div class="card-body">
                <h3 class="text-red card-title">High CO2 concentration</h3>
                <p class="">The concentration of CO2 within this indoor space has surpassed safe limits,
                    suggesting inadequate ventilation and posing serious health risks, including headaches, dizziness,
                    and impaired cognitive function, necessitating immediate action to improve air quality.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-lg-3">
        <div class="card hidden-at-start">
            <div class="card-stamp">
                <div class="card-stamp-icon bg-green">
                    <img class="icon" src="{{ url_for('static', filename='icons/mood-good-white.svg') }}"
                         alt="Mood Good">
                </div>
            </div>
            <div class="card-body">
                <h3 class="text-green card-title">Low PMs concentration</h3>
                <p class="">The concentration of PMs within your indoor space is in the range of the safe
                    limits, suggesting minimal health risks.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-lg-3">
        <div class="card hidden-at-start">
            <div class="card-stamp">
                <div class="card-stamp-icon bg-green">
                    <img class="icon" src="{{ url_for('static', filename='icons/mood-good-white.svg') }}"
                         alt="Mood Good">
                </div>
            </div>
            <div class="card-body">
                <h3 class="text-green card-title">Low TVOCs concentration</h3>
                <p class="">The concentration of TVOCs within your indoor space is in the range of the safe
                    limits, suggesting minimal health risks.</p>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="row row-cards">
            <div class="col-sm-6 col-lg-4">

            </div>
        </div>
    </div>
</div>