{% from "scenario-analysis-macros.html" import input %}

{% set pollutants = [
    {'name': 'Temperature', 'key': 'temp', 'typical_value': '22°C.'},
    {'name': 'Humidity', 'key': 'hum', 'typical_value': '40%.'},
    {'name': 'CO2', 'key': 'co2', 'typical_value': '200ppm.'},
    {'name': 'TVOC', 'key': 'tvoc', 'typical_value': '5.'},
    {'name': 'PM1', 'key': 'pm1', 'typical_value': '5 μg/m³.'},
    {'name': 'PM2.5', 'key': 'pm25', 'typical_value': '5 μg/m³.'},
    {'name': 'PM10', 'key': 'pm10', 'typical_value': '5 μg/m³.'},
    {'name': 'NOX', 'key': 'nox', 'typical_value': '5 μg/m³.'}
] %}

{% for row in pollutants|batch(2, fill_with=None) %}
<div class="row pb-4">
    <div class="col-12">
        <div class="row">
            {% for pollutant in row if pollutant %}
                {{ input(pollutant.name, pollutant.key, pollutant.typical_value) }}
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}
